<div id ="whole-task_<%=task.id%>">
  <div class="task-edit" id="#task-edit_<%=task.id%>">
    <%= form_tag("/tasks/#{task.id}/edit", :method => "post", remote: true) do |f| %>
      <input type="text" class="task-edit-input" name="content" value= "<%= task.content %>">
      <select class="task-edit-when_to" name="date">
        <% if task.when_to == Date.new(1000, 01, 01)%>
          <option name="date" value="<%= Date.today %>">今日やる</option>
          <option name="date" value="<%= Date.tomorrow %>">明日やる</option>
          <option name="date" value="<%= Date.new(1000, 01, 01) %>" selected>未定</option>
        <% elsif task.when_to == Date.today %>
          <option name="date" value="<%= Date.today %>" selected>今日やる</option>
          <option name="date" value="<%= Date.tomorrow %>">明日やる</option>
          <option name="date" value="<%= Date.new(1000, 01, 01) %>" selected>未定</option>
        <% elsif task.when_to == Date.tomorrow %>
          <option name="date" value="<%= Date.today %>">今日やる</option>
          <option name="date" value="<%= Date.tomorrow %>" selected>明日やる</option>
          <option name="date" value="<%= Date.new(1000, 01, 01) %>">未定</option>
        <% end %>
      </select>
      <input class="task-add-button_edit" type="submit" value="変更">
      <div class="x-button">
        <p>×</p>
      </div>
    <% end %>
  </div>
  <div class="tasks-index-item" id="tasks-index-item">
    <div class="task-left">
      <%= link_to("/tasks/#{task.id}/destroy", :method => "post", :style => "text-decoration: none", remote: true) do |f| %>
        <p>×</p>
      <% end %>
    </div>
    <div class="task-right" >
      <%= task.content %>
    </div>
  </div>
</div>
