<div class="main">
  <div class="task-form">
    <p>タスクを検索</p>
    <%= form_tag tasks_index_path, :method => "get" do %>
      <input class="task-input" name="search" value= <%= params[:search] %>>
      <input class="task-add-button" type="submit" value="検索">
    <% end %>
  </div>
x
  <div class="task-form">
    <p>タスクを追加</p>
    <%= form_tag("/tasks/create", :method => "post") do%>
      <input class="task-input" name="content">
      <div class="task-radio-button">
        <input type="radio" name="date" value="<%= Date.today %>">今日やる
        <input type="radio" name="date" value="<%= Date.tomorrow %>">明日やる
        <input type="radio" name="date" value="<%= nil %>">未定
      </div>
      <input class="task-add-button" type="submit" value="追加">
    <% end %>
  </div>

  <div class="tasks-area">
    <div class="tasks-container">
      <p class="title">
        インボックス
      </p>
      <% @tasks_inbox.each do |task| %>
        <div class="tasks-index-item">
          <div class="task-left">
              <%= link_to("/tasks/#{task.id}/destroy", :method => "post", :style => "text-decoration: none") do %>
                <p>×</p>
              <% end %>
          </div>
          <div class="task-right">
            <%= task.content %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tasks-container">
      <p class="title">
        今日やること
      </p>
      <% @tasks_today.each do |task| %>
        <div class="tasks-index-item">
          <div class="task-left">
              <%= link_to("/tasks/#{task.id}/destroy", :method => "post", :style => "text-decoration: none") do %>
                <p>×</p>
              <% end %>
          </div>
          <div class="task-right">
            <%= task.content %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tasks-container">
      <p class="title">
        明日やること
      </p>
      <% @tasks_tomorrow.each do |task| %>
        <div class="tasks-index-item">
          <div class="task-left">
            <%= link_to("/tasks/#{task.id}/destroy", :method => "post", :style => "text-decoration: none") do %>
              <p>×</p>
            <% end %>
          </div>
          <div class="task-right">
            <%= task.content %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
