<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <div class="container">
      <ul class="user-tabs">
        <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
        <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      </ul>
      <% Post.where(user_id: @user.id).each do |post| %>
        <div class="posts-index-item">
          <div class="post-left">
            <img src="<%= "/user_images/#{User.find_by(id: post.user_id).image_name}" %>">
          </div>
          <div class="post-right">
            <div class="post-user-name">
              <%= link_to(User.find_by(id: post.user_id).name, "/users/#{post.user_id}") %>
            </div>
            <%= link_to(post.content, "/posts/#{post.id}") %>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>