<html>
  <head>
    <title>Tasks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= favicon_link_tag  %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <a href="/tasks/index"><img class= "logopic" src="/logo.png" alt="TAG index" border="0"></a>
        <% else %>
          <a href="/"><img class= "logopic" src="/logo.png" alt="TAG index" border="0"></a>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}/edit") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", :method => "post") %>
          </li>
        <% else %>
          <li>
            <%= link_to("Tasksとは", "/about") %>
          </li>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
      <% if current_page?(:controller => 'tasks', :action => 'index') %>
        <div class="search-form">
          <%= form_tag tasks_index_path, :method => "get" do %>
            <input type="text" class="search-input" name="search" autocomplete="off" value= <%= params[:search] %> >
            <input class="search-button" type="submit" value="検索">
          <% end %>
        </div>
      <% end %>
    </header>
    <%= yield %>
  </body>

  <script>
    $(document).ready(function() {
      $('#notice').fadeOut(2500);
    });
    $("#tasks-container-inbox").on("click",".x-button", function() {
      $(this).parent().parent().hide();
      $(this).parent().parent().next().fadeIn();
    });
    $("#tasks-container-inbox").on("click",".task-left", function() {
        $(this).parent().fadeOut();
      });
    $("#tasks-container-inbox").on("click",".task-right", function() {
      $(this).parent().prev().fadeIn();
      $(this).parent().hide();
      var v = $(this).parent().prev().find(".task-edit-input").val();
      $(this).parent().prev().find(".task-edit-input").val("");
      $(this).parent().prev().find(".task-edit-input").focus().val(v);
    });
    $("#tasks-container-today").on("click",".x-button", function() {
      $(this).parent().parent().hide();
      $(this).parent().parent().next().fadeIn();
    });
    $("#tasks-container-today").on("click",".task-left", function() {
        $(this).parent().fadeOut();
      });
    $("#tasks-container-today").on("click",".task-right", function() {
      $(this).parent().prev().fadeIn();
      $(this).parent().hide();
      var v = $(this).parent().prev().find(".task-edit-input").val();
      $(this).parent().prev().find(".task-edit-input").val("");
      $(this).parent().prev().find(".task-edit-input").focus().val(v);
    });
    $("#tasks-container-today").on("click",".x-button", function() {
      $(this).parent().parent().hide();
      $(this).parent().parent().next().fadeIn();
    });
    $("#tasks-container-tomorrow").on("click",".task-left", function() {
        $(this).parent().fadeOut();
      });
    $("#tasks-container-tomorrow").on("click",".task-right", function() {
      $(this).parent().prev().fadeIn();
      $(this).parent().hide();
      var v = $(this).parent().prev().find(".task-edit-input").val();
      $(this).parent().prev().find(".task-edit-input").val("");
      $(this).parent().prev().find(".task-edit-input").focus().val(v);
    });
    $("#tasks-container-tomorrow").on("click",".x-button", function() {
      $(this).parent().parent().hide();
      $(this).parent().parent().next().fadeIn();
    });
    $('#hamburger').click( function() {
      $(this).toggleClass('animate');
    })
    </script>
</html>
